extends layout

block content
    div(class="w3-container w3-teal")
        h2 #{info.codigo} | #{info.titulo} | Nível #{info.nivel}
    div(class="w3-container")
        p= info.descricao
        
    if info.filhos.length > 0 
        div(class="w3-container w3-teal")
            h3 Lista de filhos 
        table(class="w3-table w3-bordered")
            tr
                th Código
                th Título
            each c in info.filhos
                tr
                    th
                        a(href="/codigo/" + c.codigo)= c.codigo
                    th= c.titulo
    else if info.nivel == 3 && info.termosInd.length > 0
        div(class="w3-container w3-teal")
            h3 Lista de termos indice
        table(class="w3-table w3-bordered")
            tr
                th Id
                th Termo
            each t in info.termosInd
                tr
                    th= t.idTI
                    th
                        a(href="/termos")= t.termo
    else
        div(class="w3-container")
            p Não tem filhos...
    
    address
        if info.pai.codigo != undefined
            a(href="/codigo/" + info.pai.codigo) Voltar atrás 
        br
        a(href="/") Voltar ao menu principal